# Apache Iceberg - Cen√°rio e Opera√ß√µes

Este notebook descreve o uso do Apache Iceberg com Apache Spark.

## üóÇÔ∏è Modelo ER e Fonte de Dados

Usaremos uma tabela `usuarios` com o seguinte esquema:

- `id` (int)
- `nome` (string)
- `idade` (int)
- `status` (string)

A fonte de dados utilizada √© um arquivo CSV p√∫blico com dados de usu√°rios fict√≠cios.

In [ ]:

spark = SparkSession.builder     .appName("IcebergExample")     .config("spark.sql.catalog.my_catalog", "org.apache.iceberg.spark.SparkCatalog")     .config("spark.sql.catalog.my_catalog.type", "hadoop")     .config("spark.sql.catalog.my_catalog.warehouse", "/tmp/iceberg")     .getOrCreate()

In [ ]:

df = spark.read.csv("data/usuarios.csv", header=True, inferSchema=True)
df.show()

## üíæ Criando a tabela Iceberg

In [ ]:

df.writeTo("my_catalog.db.usuarios").using("iceberg").createOrReplace()

## ‚ûï Comando INSERT

In [ ]:

spark.sql("INSERT INTO my_catalog.db.usuarios VALUES (5, 'Ana', 21, 'ativo')")

## ‚úèÔ∏è Comando UPDATE

In [ ]:

spark.sql("UPDATE my_catalog.db.usuarios SET idade = idade + 1 WHERE idade < 18")

## ‚ùå Comando DELETE

In [ ]:

spark.sql("DELETE FROM my_catalog.db.usuarios WHERE status = 'inativo'")